{% extends pjax('base.html') %}

{% block content %}
<div class="mdui-card pjax-card" style="margin: 16px 16px 16px 16px; display: none;">
    <div class="mdui-typo" style="margin: 24px 24px 24px 24px;">
        <h4 class="mdui-text-color-pink-accent i18n" name="arc-splitbytiming-headword"></h4>
        <div class=" mdui-container">
            <div class="mdui-row">
                <div class="mdui-textfield mdui-textfield-floating-label mdui-textfield-input-card">
                    <label class="mdui-textfield-label i18n" name="arcstring"></label>
                    <input class="mdui-textfield-input " id="text-arc" type="text"
                        pattern="arc\((\d+),(\d+),(-*\d+[.\d+]*),(-*\d+[.\d+]*),([a-z]{1,4}),(-*\d+[.\d+]*),(-*\d+[.\d+]*),([0-2]),(none|full|incremental),(true|false)\)*;"
                        required />
                    <div class="mdui-textfield-error i18n" name="err-wrong-arc-fmt-with-arctap"></div>
                    <div class="mdui-textfield-helper i18n" name="info-single-arc-with-arctap"></div>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-textfield mdui-textfield-input-card">
                    <textarea class="mdui-textfield-input  i18n-input" name="timingstring" rows="10" id="text-timings"
                        required></textarea>
                    <div class="mdui-textfield-error i18n" name="err-none-chart"></div>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-offset-sm-6">
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-btn-block i18n"
                        id="btn-generate" name="gen" onclick="genArcSplitByTiming()" disabled></button>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-textfield">
                    <textarea class="mdui-textfield-input i18n-input" name="result" rows="10" placeholder=""
                        id="text-result" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}