{% extends pjax('base.html') %}


{% block content %}
<div class="mdui-card" style="margin: 16px 16px 16px 16px;">
    <div class="mdui-typo" style="margin: 24px 24px 24px 24px;">
        <h4 class="mdui-text-color-pink-accent">切蛇工具</h4>
        <div class=" mdui-container">
            <div class="mdui-row">
                <div class="mdui-col-xs-12">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">Arc字符串</label>
                        <input class="mdui-textfield-input" id="text-arcstring" type="text" pattern="arc\((\d+),(\d+),(-*\d+[.\d+]*),(-*\d+[.\d+]*),([a-z]{1,4}),(-*\d+[.\d+]*),(-*\d+[.\d+]*),([0-2]),([a-z]+),([a-z]+)\).*;" required/>
                        <div class="mdui-textfield-error">Arc格式错误</div>
                        <div class="mdui-textfield-helper">仅支持单个Arc</div>
                    </div>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-col-xs-6">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label" id="text-count">细分数量</label>
                        <input class="mdui-textfield-input" type="text" pattern="([1-9]\d*)" required/>
                        <div class="mdui-textfield-error">请填写正整数</div>
                    </div>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-col-sm-6"></div>
                <div class="mdui-col-xs-6 mdui-col-sm-3"></div>
                <div class="mdui-col-xs-6 mdui-col-sm-3">
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-btn-block"
                        id="btn-generate" disabled>生成并复制</button>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-col-xs-2 mdui-col-sm-1">
                    <label class="mdui-switch">
                        <input type="checkbox" id='more-settings-toggle' />
                        <i class="mdui-switch-icon"></i>
                    </label>
                </div>
                <div class="mdui-col-xs-10 mdui-col-sm-11" style="margin-top: 6px;">
                    <p>更多设置</p>
                </div>
            </div>
            <div class="mdui-collapse">
                <div class="mdui-collapse-item" id="more-settings-item">
                    <div class="mdui-collapse-item-body">
                        <div class="mdui-container-fluid">
                            <div class="mdui-row">
                                <div class="mdui-col-xs-6">
                                    <div class="mdui-textfield">
                                        <label class="mdui-textfield-label">Arc起始点</label>
                                        <input class="mdui-textfield-input" id="text-start" />
                                        <div class="mdui-textfield-helper">可留空</div>
                                    </div>
                                </div>
                                <div class="mdui-col-xs-6">
                                    <div class="mdui-textfield">
                                        <label class="mdui-textfield-label">Arc终点</label>
                                        <input class="mdui-textfield-input" id="text-stop" />
                                        <div class="mdui-textfield-helper">可留空</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-textfield">
                    <textarea class="mdui-textfield-input" rows="10" placeholder="生成结果" id="text-result"></textarea>
                </div>
            </div>
    </div>
</div>
</div>
{% endblock %}


{% block footer %}
<script src="{{ url_for('static',filename='js/arc-cutter.js')}}"></script>
<script src="{{ url_for('static',filename='js/textfield.js')}}"></script>
{% endblock %}