{% extends pjax('base.html') %}

{% block content %}
<div class="mdui-card pjax-card" style="margin: 16px 16px 16px 16px; display: none;">
    <div class="mdui-typo" style="margin: 24px 24px 24px 24px;">
        <h4 class="mdui-text-color-pink-accent i18n" name="arc-cutter-headword"></h4>
        <div class=" mdui-container">
            <div class="mdui-row">
                <div class="mdui-col-xs-12">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label i18n" name="arcstring"></label>
                        <input class="mdui-textfield-input mdui-textfield-input-card" id="text-arcstring" type="text"
                            pattern="arc\((\d+),(\d+),(-*\d+[.\d+]*),(-*\d+[.\d+]*),([a-z]{1,4}),(-*\d+[.\d+]*),(-*\d+[.\d+]*),([0-2]),(none|full|incremental),(true|false)\);" required />
                        <div class="mdui-textfield-error i18n" name="err-wrong-arc-fmt"></div>
                        <div class="mdui-textfield-helper i18n" name="info-single-arc"></div>
                    </div>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-col-xs-6">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label i18n" name="count"></label>
                        <input class="mdui-textfield-input mdui-textfield-input-card" id="text-count" type="text" pattern="([1-9]\d*)" required />
                        <div class="mdui-textfield-error i18n" name="err-posint-req"></div>
                    </div>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-col-sm-6"></div>
                <div class="mdui-col-xs-12 mdui-col-sm-6">
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-btn-block i18n"
                        id="btn-generate" name="gen" onclick="genArcCutter()" disabled></button>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-col-xs-2 mdui-col-sm-1">
                    <label class="mdui-switch">
                        <input type="checkbox" id='more-settings-toggle' />
                        <i class="mdui-switch-icon"></i>
                    </label>
                </div>
                <div class="mdui-col-xs-10 mdui-col-sm-11" style="margin-top: 6px;">
                    <p class="i18n" name="more"></p>
                </div>
            </div>
            <div class="mdui-collapse">
                <div class="mdui-collapse-item" id="more-settings-item">
                    <div class="mdui-collapse-item-body">
                        <div class="mdui-container-fluid">
                            <div class="mdui-row">
                                <div class="mdui-col-xs-12 mdui-col-sm-6">
                                    <div class="mdui-textfield">
                                        <label class="mdui-textfield-label i18n" name="arc-start"></label>
                                        <input class="mdui-textfield-input mdui-textfield-input-card" id="text-start" pattern="(\d+)" />
                                        <div class="mdui-textfield-error i18n" name="err-natint-req"></div>
                                        <div class="mdui-textfield-helper i18n" name="info-sel"></div>
                                    </div>
                                </div>
                                <div class="mdui-col-xs-12 mdui-col-sm-6">
                                    <div class="mdui-textfield">
                                        <label class="mdui-textfield-label i18n" name="arc-stop"></label>
                                        <input class="mdui-textfield-input mdui-textfield-input-card" id="text-stop" pattern="(\d+)" />
                                        <div class="mdui-textfield-error i18n" name="err-natint-req"></div>
                                        <div class="mdui-textfield-helper i18n" name="info-sel"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-row">
                <div class="mdui-textfield">
                    <textarea class="mdui-textfield-input i18n-input" name="result" rows="10" placeholder="" id="text-result"
                        disabled></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
