{% extends pjax('base.html') %}

{% block content %}
<link rel="stylesheet" href="/static/css/index.css" />

<div class="mdui-card pjax-card" style="margin: 16px 16px 16px 16px; display: none;">
    <div class="mdui-typo" style="margin: 24px 24px 24px 24px;">
        <div class="mdui-typo-display-3 mdui-text-color-pink-accent" style="text-align: center;">
            <strong class="i18n" name="highlight-1"></strong></div>
        <div class="mdui-typo-display-3 mdui-text-color-pink-accent" style="text-align: center;">
            <strong class="i18n" name="highlight-2"></strong></div>
        <p class="i18n" name="p-highlight"></p>
        <p class="i18n" name="p-1"></p>
        <ul>
            <li class="i18n" name="li-1-1"></li>
            <li class="i18n" name="li-1-2"></li>
            <li class="i18n" name="li-1-3"></li>
        </ul>
        <p class="i18n" name="p-2"></p>
        <p class="i18n" name="p-3"></p>
        <ul>
            <li class="i18n" name="li-2-1"></li>
            <li class="i18n" name="li-2-2"></ul>
        <p class="i18n" name="p-4"></p>
        <p class="i18n" name="arigatou"></p>
        <s class="i18n" name="s-1"></s>
    </div>
</div>
{% endblock %}
