{% extends pjax('base.html') %}

{% block content %}
<div class="mdui-card" style="margin: 16px 16px 16px 16px;">
    <div class="mdui-typo" style="margin: 24px 24px 24px 24px;">
        <h4 class="mdui-text-color-pink-accent i18n" name="timing-glitch"></h4>
        <div class=" mdui-container">
            <div class="mdui-row-xs-1 mdui-row-md-2">
                <div class="mdui-col">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label i18n" name="time-start"></label>
                        <input class="mdui-textfield-input" id="text-start" type="text" pattern="(\d+)" required/>
                        <div class="mdui-textfield-error i18n" name="err-natint-req"></div>
                    </div>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label i18n" name="time-stop"></label>
                        <input class="mdui-textfield-input" id="text-stop" type="text" pattern="(\d+)" required/>
                        <div class="mdui-textfield-error i18n" name="err-natint-req"></div>
                    </div>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label i18n" name="count"></label>
                        <input class="mdui-textfield-input" id="text-count" pattern="([1-9]\d*)" required/>
                        <div class="mdui-textfield-error i18n" name="err-posint-req"></div>
                    </div>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label i18n" name="bpm-range"></label>
                        <input class="mdui-textfield-input" id="text-bpm-range" type="text" pattern="(-*\d+[.\d+]*)" required/>
                        <div class="mdui-textfield-error i18n" name="err-num-req"></div>
                    </div>
                </div>            
                <div class="mdui-col">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label i18n" name="bar-ex"></label>
                        <input class="mdui-textfield-input" id="text-ex-bar" type="text" pattern="(\d+[.\d+]*)"/>
                        <div class="mdui-textfield-error i18n" name="err-nonnegnum-req"></div>
                        <div class="mdui-textfield-helper i18n" name="info-sel-def-4"></div>
                    </div>
                </div>
                <div class="mdui-col">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label i18n" name="bar-zero"></label>
                        <input class="mdui-textfield-input" id="text-zero-bar" type="text" pattern="(\d+[.\d+]*)"/>
                        <div class="mdui-textfield-error i18n" name="err-nonnegnum-req"></div>
                        <div class="mdui-textfield-helper i18n" name="info-sel-def-4"></div>
                    </div>
                </div>
                <div class="mdui-row">
                    <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-offset-sm-6">
                        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-btn-block i18n"
                            id="btn-generate" name="gen" onclick="genTimingGlitch()" disabled></button>
                    </div>
                </div>
                <div class="mdui-row">
                    <div class="mdui-textfield">
                        <textarea class="mdui-textfield-input i18n-input" name="result" rows="10" placeholder="" id="text-result" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
